#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:
			driver: pdo_mysql
			user: global-settings-should-be-overwritten
			password: global-settings-should-be-overwritten
			dbname: personal-home-page
		debugMode: true
		mongo:
			connectionuri: mongodb://global-user:global-user@linus.mongohq.com:10059/
			dbname: personal-home-page

	includes:
		- ../model/User/user.neon
		- ../model/Block/block.neon

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		session:
			expiration: 2 years


	services:
		authenticator: \User\Authenticator(@userFacade, @passwordService)
		routerFactory: RouterFactory
		router: @routerFactory::createRouter
		entityManager:
			factory: EntityManagerFactory::create(%database%, %debugMode%)
		documentManager:
			factory: DocumentManagerFactory::create(%mongo%, %tempDir%)
		httpRequestData: HttpRequestData
		parsedHttpInput: ParsedHttpInput(@httpRequestData)


	factories:


production < common:
	parameters:
		debugMode: false

development < common:

	parameters:
		debugMode: true
		database:
			driver: pdo_mysql
			user: root
			password: 
			dbname: personal-home-page


