services:

	createBlockController: \Block\CreateBlockController

	inputDataToBlockMapper: \Block\InputDataToBlockMapper

	blockCreateFacade: \Block\CreateBlockFacade

	blockValidatorFactory: \Block\Validator\ValidatorFactory