<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|upper}Personal Home Page{/block}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
	<style>
		.stick-head{ width:100%;height:50px;line-height:50px;background:#444;color:white;border-bottom:4px solid #CC0;font-weight:bold;font-size:16px;top:0;}
		.user{ margin-right:80px;}
		.logo{ margin-left:80px;}
		.block{ width:400px;border:1px solid black;margin:10px;}
		.block-body{ overflow-y:auto;height:400px;}
	</style>
</head>
<body>
	<script>document.documentElement.className+=' js'</script>

	<div class="stick-head">
		<div class="logo pull-left">
			<a href="{plink :Front:Homepage:default}">Personal Home Page</a>
		</div>
		<div class="user pull-right">
			{control userInfo $user}
		</div>
	</div>

	<div class="content">
		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>


		{include #content}
	</div>
	<script src="{$basePath}/js/netteForms.js"></script>
</body>
</html>
