<!DOCTYPE html>
<html ng-app>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|upper}Personal Home Page{/block}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<script src="{$basePath}/js/angular.js"></script>
	{block head}{/block}
	<script>document.documentElement.className+=' js'</script>

	<div class="stick-head">
		<div class="logo pull-left">
			<a href="{plink :Front:Homepage:default}">Personal Home Page</a>
		</div>
		<div class="user pull-right">
			{control userInfo $user}
		</div>
	</div>

	<div class="content">
		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>


		{include #content}
	</div>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
