{var $robots = noindex}

{block #content}
<div ng-controller="LoginCtrl" class="sign">
	<div ng-show="signinVisible">
		<a href="" ng-click="showSignUp()" class="switch">Sign up</a>
		<h1 n:block=title>Sign in</h1>

		{control signInForm}
	</div>
	<div ng-cloak ng-hide="signinVisible" class="ng-cloak">
		<a href="" ng-click="showSignIn()" class="switch">Sign in</a>
		<h1>Sign up</h1>

		{control signUpForm}		
	</div>
</div>