services:

	passwordService: \User\PasswordService

	userFacade: \User\UserFacade(@entityManager)

	signUpService: \User\SignUpService(@userFacade, @passwordService)

	signInService: \User\SignInService