services:

	passwordService: \User\PasswordService

	userStorageFacade: \User\StorageFacade(@entityManager)

	signUpService: \User\SignUpService(@userStorageFacade, @passwordService)

	signInService: \User\SignInService